<h2>Contato</h2>

<h3>email</h3>

<code>comunicacao@centrosocialista.org</code>

<h3>Redes sociais</h3>

<ul>
  <% @config[:social].each do |s, url| %>
    <li><strong><%= s %></strong>: <%= url %></li>
  <% end %>
</ul>

