<div class='episode-grid'>
  <% sorted_articles.first(@config[:home_episodes]).each do |episode| %>
    <div class='episode col-md-4'>
      <a href="<%= relative_path_to(episode)%>"><img src="<%= cover_path(episode)%>"/></a>
      <h2><%= link_to(episode[:title], episode) %></h2>
      <p><em><%= date(episode) %></em><p]>
      <%= episode[:short_description] %>
    </div>
  <% end %>
</div>

<% if sorted_articles.size > @config[:home_episodes] %>
  <p>
  Episódios mais antigos: <%= link_to('veja no arquivo', '/arquivo') %>
<% end %>
