body {
}

a, a:visited {
  color: rgba(186,52,65,1);
}

code {
  color: #eeeeec;
  background-color: rgba(186,52,65,1);
  border-radius: 2px;
}


.navbar-inverse {
  background-image: linear-gradient(to right, #d40000, #550000);
  text-shadow: none;
}

.navbar > .container .navbar-brand {
  background-image: url(/images/cs.png);
  background-size: 50px 50px;
  background-position: 10px 50%;
  background-repeat: no-repeat;
  padding-left: 65px;
  color: #eeeeec;
  font-variant: small-caps;
  font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a {
  border-left: 1px solid rgba(255,255,255,0.4);
  color: #eeeeec;
}


#content {
  padding-top: 20px;
  min-height: 470px;
}

.episode-grid .episode {
  margin-bottom: 5em;
}

.episode-grid h2 {
  font-size: 20px;
}

.episode-grid img {
  max-width: 100%;
}

.episode-grid img, .player img {
  border: 2px solid white;
}

.player {
  max-width: 480px;
}
.player img {
  display: block;
  width: 100%;
}
.player audio {
  width: 100%;
}

.archive a {
  display: block;
}

.navbar {
  margin-bottom: 0px;
}

.dropdown:hover .dropdown-menu {
  display: block !important;
}

footer {
  margin-top: 40px;
  padding: 20px 0px;
  border-top: 1px solid #404040;
}

.label-default,
.label-info,
.label-warning {
  background-color: rgba(186,52,65,1);
}
