---
kind: article
created_at: "<%= date %>"
title: "#<%= episode %> - TÍTULO"
audio:
- filename: papcs-XX-....mp3
  filesize: 99999999
- filename: papcs-XX-....ogg
  filesize: 99999999
duration: 999 # FIXME
links: |
  ...
short_description: |
  ...
---

nono nononon non nonononono non nonono nono nononon non nonononono non nonono
nono nononon non nonononono non nonono nono nononon non nonononono non nonono
nono nononon non nonononono non nonono nono nononon non nonononono non nonono

Edição:

Trilha sonora:
Licença Creative Commons Attribution (CC-BY).
